@charset "UTF-8";


@font-face {
    font-family: 'YEONGJU';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2403@1.0/YEONGJUSeonbiTTF.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Ownglyph_meetme-Rg';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_1@1.0/Ownglyph_meetme-Rg.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

li a {
	display: block;
}

a {
	text-decoration: none;
}

/* 데스크탑 사이즈 */	

.container{
	margin: 0 auto;
	width: 1000px;
	height: 90%;
	margin-top:100px;
	display: flex;
	flex-direction: column;
	gap:30px;
	justify-content: center;
	align-items: center;
	text-align: center;	
}

.select_views {
	width:100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	text-align: left;
}

#report_type {
	width:150px;
	height:40px;
	border: 1px solid gray;
	font-family: 'Pretendard-Regular';
	font-size:14px;
	padding:5px;
}

.ban_table {
	width: 1000px;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.board-table {
	font-size: 13px;
	width: 100%;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	background-color: rgba(247,247,247,0.9);
}

.board-table a {
	color: #1c1c1c;
	display: inline-block;
	line-height: 1.4;
	word-break: break-all;
	vertical-align: middle;
}

.board-table th {
	text-align: center;
	color: #1c1c1c;
	background-color: #B3B3B3;
}

tr:not(:last-child):hover {
	background-color: rgba(205,228,242,0.8);
}

.th-r_title {
	width: 200px;
	text-align: center;
}

.th-r_user,
.th-r_reported {
	width: 150px;
	text-align: center;
}

.th-r_text {
	width: 150px;
	text-align: center;
}

.th-r_reason{
	width:150px;
	text-align: center;
}

.th-r_date {
	width:150px;
	text-align: center;
}

.board-table th, .board-table td {
  padding: 14px 0;
}

.board-table tbody td {
  border-top: 1px solid #e7e7e7;
  text-align: center;
  padding:5px
}

.board-table tbody th {
  padding-left: 28px;
  padding-right: 14px;
  border-top: 1px solid #e7e7e7;
  text-align: left;
}

.board-table tbody th p{
  display: none;
}

.btn {
	display: inline-block;
	padding: 0 30px;
	font-size: 15px;
	font-weight: 400;
	background: transparent;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid transparent;
	text-transform: uppercase;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.btn-dark {
  background: #555;
  color: #fff;
}

.btn-dark:hover, .btn-dark:focus {
  background: #373737;
  border-color: #373737;
  color: #fff;
}

.btn-dark {
  background: #555;
  color: #fff;
}

.btn-dark:hover, .btn-dark:focus {
  background: #373737;
  border-color: #373737;
  color: #fff;
}

