@charset "UTF-8";

@font-face {
    font-family: 'YEONGJU';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2403@1.0/YEONGJUSeonbiTTF.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Ownglyph_meetme-Rg';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_1@1.0/Ownglyph_meetme-Rg.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DOSGothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/DOSGothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.container {
	width:900px;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap:30px;
	padding:20px;
	margin: 0 auto;
	margin-top: 50px;
}

.inquire_container {
	width:100%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: rgba(255,255,255,0.8);
	border: 1px solid gray;
	box-shadow: 2px 2px 2px gray;
	padding:20px;
	gap:20px;
}

.listbox {
	display: flex;
	justify-content: center;
	align-items: center;
	padding:10px;
	gap:10px;
	border: 1px solid gray;
}

.listboxout {
	display: flex;
	justify-content: center;
	align-items: center;
	gap:10px;
}

.titles {
	width:100%;
	display:flex;
	justify-content: center;
	align-items: center;
}

.title_table {
	margin:0 auto;
	padding:0;
	width:100%;
	border: 1px solid gray;
	border-spacing: 0;
}

.title_table tbody,
.title_table tr{
	padding:0;
	height:50px;
}

.title_table th {
	border: 1px solid gray;
	background-color: darkgray;
}

.title_table td {
	border: 1px solid gray;
	padding:10px;
	text-align: center;
}


/* 이미지 슬라이드 관련 css */

.inquire-images {
	width:600px;
	height:300px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 50px;
}
  
.inquire-images div img {
  	width:600px;
	height:300px;
  	object-fit: cover;	
}

.slick-arrow {
	display:flex;
	justify-content: space-around;
	width: 30px;
	height: 30px;
	border: 1px solid gray;
	border-radius: 50%;
	background-color: rgba(241,241,241,0.5);
	font-size: 0;
}

.slick-next {
	position: absolute;
	top:150px;
	left:560px;
	z-index: 1;
}

.slick-prev {
	position: absolute;
	top:150px;
	left:10px;
	z-index: 1;
}

.slick-dots {
	position: absolute;
	top:250px;
	left:250px;
	display:flex;
	flex-direction: row;
	list-style: none;	
}

.slick-dots li {
	margin-right:10px;
}

.slick-dots li,
.slick-dots li button:hover{
	cursor: pointer;
}

.slick-dots li button{
	font-size: 0;
	width:8px;
	height:8px;
	border-radius: 50%;
	background-color: rgba(241,241,241,0.5);
	border: 0px;
}

.slick-dots > .slick-active > button{
	background-color: rgba(27,112,166,0.5);
}


/* 코멘트 영역 */

.comments_container{
	width:100%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: rgba(255,255,255,0.8);
	border: 1px solid gray;
	box-shadow: 2px 2px 2px gray;
	padding:20px;
	gap:20px;
}
