@charset "UTF-8";

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Ownglyph_meetme-Rg';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_1@1.0/Ownglyph_meetme-Rg.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


* {
	margin: 0;
	padding: 0;
}

.login_video {
	position : fixed;
	top : 0; 
	left : 0;
	min-width : 100%;
	min-height : 100%;
	width : auto;
	height : auto;
	z-index : -1;
}

.bg-video__content{
	height: 100%;
	width: 100%;
	object-fit: cover; 
}

.login_main {
    width: 350px;
    height: 500px;
    display: block;
    justify-content: center;
    align-items: center;
    border: 1px solid #1C1C1C;
    border-radius: 5px;
    position: absolute;
    margin-top:150px;
    top: 50%;
    left: 50%;
    padding: 30px;
    background-color: rgba(241, 241, 241, 0.6);
}

.login_logo1{
	text-align: center;
	align-items:center;
}

.login_logo2 {
	font-family: 'Ownglyph_meetme-Rg';
	font-size: 42px;
	color:#1C1C1C;
	text-align: center;
	align-items:center;
	text-shadow: -1px 0px white, 0px 1px white, 1px 0px white, 0px -1px white;
}

.input_field, .button_field {
    display: block;
    width: 100%; 
    margin: 5px 10px;
    padding: 3px;
    border: 1px solid lightgray;
    box-sizing: border-box;
}

.input_field {
    height: 40px; 
    border-radius: 3px; 
}

.button_field {
    margin-bottom: 5px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    background-color: skyblue;
}        
          

.login_container {
	postion: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.forgot {
    display: block; 
    margin-top: 20px;
    font-weight: bold;
    color: skyblue;
    text-decoration: none;
}

.div_line {
	width : 100%;
	border-bottom: 1px solid lightgrey;
	margin: 20px 0 7px;
}



.remember_id {
    display: flex; 
    align-items: center; 
    justify-content: flex-start;
    margin-top: 10px; 
    margin-bottom: 20px;
    width: 100%;
}


.remember_id label {
    margin-left: 5px;
    font-size: 0.8em;
}



#login_button {
    width: 100%;
    background-color: #F5CE9A;
    border-color: transparent;
    color: white;
}

#sign_button {
    width: 100%;
    background-color: #48B0D9;
    border-color: transparent;
    color: white;
}