@charset "UTF-8";

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

.main {
    width: 350px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid lightgrey;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    
}

.logo {
    margin-top: 0px;
}

.input_field, .button_field {
    display: block;
    width: 100%; 
    margin: 5px 10px;
    padding: 3px;
    border: 1px solid lightgray;
    box-sizing: border-box;
}

.input_field {
    height: 40px; 
    border-radius: 3px; 
}

.button_field {
    margin-bottom: 5px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    background-color: skyblue;
}        
          

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.forgot {
    display: block; 
    margin-top: 20px;
    font-weight: bold;
    color: skyblue;
    text-decoration: none;
}

.div_line {
 width : 100%;
 border-bottom: 1px solid lightgrey;
 margin: 20px 0 7px;
}



.remember_id {
    display: flex; 
    align-items: center; 
    justify-content: flex-start;
    margin-top: 10px; 
    margin-bottom: 20px;
    width: 100%;
}


.remember_id label {
    margin-left: 5px;
    font-size: 0.8em;
}



#login {
    width: 100%;
    background-color: skyblue;
    border-color: transparent;
    color: white;
}

#sign {
    width: 100%;
    background-color: #fba600;
    border-color: transparent;
    color: white;
}