@charset "UTF-8";

@font-face {
    font-family: 'YEONGJU';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2403@1.0/YEONGJUSeonbiTTF.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Ownglyph_meetme-Rg';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_1@1.0/Ownglyph_meetme-Rg.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DOSGothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/DOSGothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


.view_container {
	width:100%;
	height:100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.review_box {
	width:100%;
	height:100%;
	display: flex;
	flex-direction:column;
	justify-content: center;
	align-items: center;
	text-align:center;
}

.review_title {
	margin:0 auto;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 30px;
}

/* 카드 자동 스라이더 효과 */

.card-slide{
  height: 400px;
  margin: auto;
  position:relative;
  width: 100%;
  display:grid;
  place-items:center;
  overflow:hidden;
}

.slide-track{
  display:flex;
  animation: scroll 10s linear infinite;
}

.slide-track:hover{
  animation-play-state:paused;
}

.slide:hover{
	
}

@keyframes scroll{
  0% {
    transform: translateX(0);
  }
  100%{
    transform: translateX(calc(-250px * 4));
  }
}

.slide{
  height: 300px;
  width: 250px;
  display: flex;
  align-items:center;
  padding: 15px;
  perspective:100px;
}

.train-card{
  width:100%;
  height:100%;
  border:1px solid gray;
  background-color:white;
  transition:transform 1s;
  border-radius:10px;
  overflow:hidden;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.train-card:hover{
  transform:translateZ(18px);
  cursor: pointer;
}

.card-body {
	width: 240px;
	height: 280px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

#slide_thumbnail{
	width: 240px;
	height:150px;
	border: 1px solid gray;
	border-radius: 5px;
	object-fit: cover;
	margin-bottom: 10px;
}

.body-contents {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.contents_title,
.contents_user {
	margin-bottom: 5px;
}

#slide_title{
	font-family: 'DOSGothic';
	font-size: 18px;
}

#slide_name{
	font-family: 'DOSGothic';
	font-size: 16px;
}

.contents_number{
	padding:0;
	display: flex;
	width:100%;
	justify-content: space-around;
	font-family: 'DOSGothic';
	font-size: 15px;
}


