@charset "UTF-8";


@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Ownglyph_meetme-Rg';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_1@1.0/Ownglyph_meetme-Rg.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

li a {
	display: block;
}

a {
	text-decoration: none;
}

/* 데스크탑 사이즈 */	

body {
	display:flex;
	justify-content:center;
	align-items:center;
}

.container{
	width:1200px;
	height:90%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;	
}

.search {
	margin-bottom: 50px;
}

.member_table {
	width: 700px;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.board-table {
  font-size: 13px;
  width: 100%;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background-color: rgba(247,247,247,0.9);
}

.board-table a {
	color: #1c1c1c;
	display: inline-block;
	line-height: 1.4;
	word-break: break-all;
	vertical-align: middle;
}

.board-table th {
	text-align: center;
	color: #1c1c1c;
	background-color: #B3B3B3;
}

tr:not(:last-child):hover {
	background-color: rgba(205,228,242,0.8);
}

.board-table .th-num {
  width: 100px;
  text-align: center;
}

.th-id,
.th-name {
	width: 150px;
}

.th-age {
	width:100px;
}

.board-table th, .board-table td {
  padding: 14px 0;
}

.board-table tbody td {
  border-top: 1px solid #e7e7e7;
  text-align: center;
}

.board-table tbody th {
  padding-left: 28px;
  padding-right: 14px;
  border-top: 1px solid #e7e7e7;
  text-align: left;
}

.board-table tbody th p{
  display: none;
}

