@charset "UTF-8";

.container {
	display:flex;
	flex-direction: column;
	margin: 0 auto;
	margin-top: 15px;
	justify-content: center;
	align-items: center;
	gap:40px;
}

.profile-card {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 1300px;
    height: 350px;
    align-items: left;
    display: flex;
    justify-content: space-between; 
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    position: relative;
    margin: 0 auto;
    top: none;
    left: none;
    justify-content: flex-start; 
    flex-direction: column; 
    height: auto; 
    
  }

.profile-info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
 
  }

.profile-name-email {
 	margin-left: 10px;
  }

.profile-image img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px; /* 이미지와 이름 사이 간격 */
  }

.profile-info p {
    margin: 0;
  }

.profile-action {
	position: absolute;
	top: 20px;
	right: 25px;
	display: flex;
	flex-direction: row;
	align-items: center;
}
	
.profile-action button, additional-actions button {
    padding: 10px 20px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px; /* 버튼 사이 간격 */
    margin-top: 50px;
}
  
.additional-actions {
    display: flex;
    justify-content: space-around; /* 요소들을 고르게 분배 */
    flex-wrap: wrap; /* 추가된 부분: 내용이 많으면 다음 줄로 넘김 */
}

.action-item {
	display:flex;
	flex-direction:column;
	justify-content:space-around;
	align-items:center;
	gap:15px;
    background-color: #f2f2f2; /* 변경된 부분: 사진의 색상에 맞게 변경 */
    padding: 20px;
    border-radius: 8px;
    flex-basis: calc(25% - 20px); /* 4개의 사각형이 한 줄에 들어갈 수 있도록 설정 */
    text-align: center; /* 텍스트 중앙 정렬 */
}

.action-item .img-container {
    height: 100px; /* 이미지 컨테이너 높이 동일 */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; /* 너비 100% */
}


/* 아래쪽의 버튼들 */
.action-button {
    background-color: #CDE4F2;
    color: #1C1C1C;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block; /* 블록 레벨 요소로 변경 */
    justify-content:center;
    align-items:center;
    width: 200px; /* 버튼의 너비 */
}

.number-text {
    color: #ff0080;
}

.mypostcontainer {
  	width:100%;
  	margin: 0 auto;
  	display: flex;
  	justify-content: center;
  	align-items: center;
}

@keyframes pulse {
    0% {
        transform: scale(1); /* 원래 크기 */
    }
    50% {
        transform: scale(1.1); /* 10% 더 커짐 */
    }
    100% {
        transform: scale(1); /* 다시 원래 크기 */
    }
}

.pulse-animation {
	width: 200px;  /* 이미지 너비 고정 */
    height: 130px; /* 이미지 높이 고정 */
    object-fit: contain;
    animation: pulse 2s infinite; /* 애니메이션 지속시간 2초, 무한 반복 */
    transition: transform 0.5s ease-in-out; /* 부드러운 변형을 위한 트랜지션 설정 */
}

