@charset "UTF-8";

@font-face {
    font-family: 'YEONGJU';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2403@1.0/YEONGJUSeonbiTTF.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Ownglyph_meetme-Rg';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_1@1.0/Ownglyph_meetme-Rg.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DOSGothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/DOSGothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.container {
	width: 1200px;
	margin: 0 auto;
	margin-top:50px;
	padding: 30px;
	padding-top:40px;
	padding-bottom:40px;
	background-color: rgba(255,255,255,0.9);
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	gap:50px;
}

#container_title {
    text-align: center;
    color: #1c1c1c;
    font-family: 'DOSGothic';
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 50px;
}

.ranking-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:50px;
}

.rankbox {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap:40px;
}

.awards > img {
	width:600px;
	object-fit:cover;
}

hr {
	width: 100%;
}

.ranking-item {
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.ranking-item:last-child {
    border-bottom: none;
}

.ranking-item h3 {
    margin-top: 5px;
    margin-bottom: 10px;
    color: #555;
}

.ranking-item p {
    margin: 5px 0;
    color: #777;
}

.ranking-item .rank {
    font-size: 24px;
    font-weight: bold;
    color: #ff5733;
}
.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
}

.card-title {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.card-content {
    color: #777;
}