@charset "UTF-8";

@font-face {
    font-family: 'YEONGJU';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2403@1.0/YEONGJUSeonbiTTF.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Ownglyph_meetme-Rg';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_1@1.0/Ownglyph_meetme-Rg.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DOSGothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/DOSGothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.container {
	width: 1200px;
	margin: 0 auto;
	margin-top:50px;
	padding: 30px;
	padding-top:40px;
	padding-bottom:40px;
	background-color: rgba(255,255,255,0.9);
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	gap:50px;
}

#container_title {
    text-align: center;
    color: #1c1c1c;
    font-family: 'DOSGothic';
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 50px;
}

.rankbox_container {
    position: relative;
    width: 600px; /* awards 이미지 너비와 맞추기 */
}

.awards {
    position: relative;
    z-index: 1;
}

.awards > img {
	width:600px;
	object-fit:cover;
}

.ranking-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:50px;
}

.rankbox {
	position: absolute;
	z-index: 2;
	top:0;
	left:0;
	width: 100%;
	height:200px;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	top:50px;
}

.bestview {
	top:50px;
}

.no1,
.no2,
.no3 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 -80px; /* 좌우 간격을 위해 margin 추가 */
}

.no1 {
	position: absolute;
	bottom: 90px; /* 시상대 높이에 맞춰 조정 */
}

.no2 {
	position: absolute;
	bottom: 40px; /* 시상대 높이에 맞춰 조정 */
	left: calc(50% - 150px); /* 시상대 너비에 맞춰 조정 */
}

.no3 {
	position: absolute;
	bottom: 20px; /* 시상대 높이에 맞춰 조정 */
	right: calc(50% - 150px); /* 시상대 너비에 맞춰 조정 */
}

.awardtitle {
	font-family: 'DOSGothic';
	font-size: 20px;
	font-weight: 600;
	word-spacing: 0.5px;
}

hr {
	width: 100%;
}

.thumbnail {
	width:130px;
	height:130px;
	border:none;
	box-shadow: 2px 2px 2px gray;
	border-radius: 50%;
}

.thumbnail > img {
	width:130px;
	height:130px;
	border:none;
	object-fit: cover;
	overflow: hidden;
	border-radius: 50%;
}

