@charset "UTF-8";

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Ownglyph_meetme-Rg';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_1@1.0/Ownglyph_meetme-Rg.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DOSGothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/DOSGothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.container {
	width: 1100px;
	margin: 0 auto;
	margin-top:50px;
	padding: 50px;
	padding-top:40px;
	padding-bottom:40px;
	background-color: rgba(255,255,255,0.9);
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	gap:40px;
}

.container_title {
	display:flex;
	flex-direction:column;
	gap:30px;
    text-align: center;
    color: #1c1c1c;
    font-family: 'DOSGothic';
    font-size: 24px;
    font-weight: 600;
    color:darkgray;
    margin-bottom: 100px;
}

.rankbox_container {
    position: relative;
    width: 600px; /* awards 이미지 너비와 맞추기 */
}

#rank_title {
	background-color: #cde4f2;
	text-align: center;
    color: #1c1c1c;
    font-family: 'DOSGothic';
    font-size: 36px;
    font-weight: 600;
}

#rank_subtitle {
	text-align: center;
    color: darkgray;
    font-family: 'DOSGothic';
    font-size: 20px;
    font-weight: 600;
    margin-top:-20px;
    margin-bottom: 20px;
}

.awards {
    position: relative;
    z-index: 1;
}

.awards > img {
	width:600px;
	object-fit:cover;
}

.ranking-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:50px;
}

.rankbox {
	position: absolute;
	z-index: 2;
	top:0;
	left:0;
	width: 100%;
	height:200px;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	top:50px;
}

.no1,
.no2,
.no3 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 -80px; /* 좌우 간격을 위해 margin 추가 */
	cursor: pointer;
}

.no1 {
	position: absolute;
	bottom: 90px; /* 시상대 높이에 맞춰 조정 */
}

.no2 {
	position: absolute;
	bottom: 40px; /* 시상대 높이에 맞춰 조정 */
	left: calc(50% - 150px); /* 시상대 너비에 맞춰 조정 */
}

.no3 {
	position: absolute;
	bottom: 20px; /* 시상대 높이에 맞춰 조정 */
	right: calc(50% - 150px); /* 시상대 너비에 맞춰 조정 */
}

.awardtitle {
	font-family: 'DOSGothic';
	font-size: 20px;
	font-weight: 600;
	word-spacing: 0.5px;
}

hr {
	width: 100%;
}

.thumbnail {
	width:130px;
	height:130px;
	border:none;
	box-shadow: 2px 2px 2px gray;
	border-radius: 50%;
}

.thumbnail > img {
	width:130px;
	height:130px;
	border:none;
	object-fit: cover;
	overflow: hidden;
	border-radius: 50%;
}

.hashtag_container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap:50px;
	margin-bottom: 50px;
}

.hashtaglist {
	margin-top: -50px;
}

#list_contents {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

#hashtagFields{
	display: flex;
	flex-direction:column;
	justify-content: space-between;
	align-items: center;
}

.hashtag-categories{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: flex-start;
	gap:15px;
}

.category {
	display:flex;
	align-items:center;
	justify-content:center;
	text-align:center;
	width:110px;
	height:40px;
	padding:10px;
	border: 1px solid gray;
	font-family: 'DOSGothic';
	font-size: 20px;
	text-align: center;
	font-weight: 600;
	background-color: #F1F1F1;
}

.category:hover {
	cursor: pointer;
	background-color: lightblue;
}

.hashtag-dropdown {
	display:flex;
	width:550px;
	flex-wrap:wrap;
	gap:10px;
    border-radius: 15px;
    border: 1px solid #ccc;
    padding: 10px;
    padding-right:10px;
    padding-left:10px;
    margin-top: 10px;
    background-color: white;
}

.hashtag {
    display: inline-block;
    margin: 5px;
    padding: 5px 10px;
    border-radius: 15px;
    font-family: 'DOSGothic';
	font-size: 16px;
	text-align: center;
    background-color: #f0f0f0;
    cursor: pointer;
}

.hashtag:hover {
	cursor: pointer;
	background-color: lightblue;
}

.hashtag.selected {
    background-color: #add8e6;
}

#selected-tags {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.selectedhashes > #list_contents {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.selected-tag {
    display: inline-block;
    margin: 5px;
    padding: 5px 10px;
    border-radius: 15px;
    background-color: #f0f0f0;
    font-family: 'DOSGothic';
	font-size: 16px;
    cursor: pointer;
}

.hashrank_container{
	display: flex;
	flex-direction:column;
	justify-content: center;
	align-items: center;
	gap:50px;
	margin-bottom: 50px;
}

.hash_info{
	text-align: center;
    color: darkgray;
    font-family: 'DOSGothic';
    font-size: 24px;
    font-weight: 600;
}

#hash {
	text-align: center;
    color: #1b70a6;
    font-family: 'DOSGothic';
    font-size: 28px;
    font-weight: 600;
}

.hashtag_rank{
	width:800px;
	border: 1px solid gray;
	border-radius:20px;
	padding:20px;
	background-color:white;
	box-shadow:2px 2px 2px gray;
	display: flex;
	justify-content: center;
	align-items: center;
	gap:40px;
}

#hashimg2 {
	width:1
}

.hash_r1,
.hash_r2,
.hash_r3 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap:10px;
	cursor: pointer;
}

.titlebox{
	display: flex;
	justify-content: center;
	align-items: center;
	gap:5px;
}

#title1,
#title2,
#title3 {
	font-family: 'DOSGothic';
	font-size: 20px;
	font-weight: 600;
	word-spacing: 0.5px;
}

#hashimg1,
#hashimg2,
#hashimg3 {
	width:130px;
	height:130px;
	border:none;
	box-shadow: 2px 2px 2px gray;
	border-radius: 50%;
}

#hashimg1 > img, 
#hashimg2 > img,
#hashimg3 > img {
	width:130px;
	height:130px;
	border:none;
	object-fit: cover;
	overflow: hidden;
	border-radius: 50%;
}

.bbti_container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap:50px;
}

#graphContainer{
	width:700px;
	height:700px;
	border: 1px solid gray;
	background-color:white;
	box-shadow:2px 2px 2px gray;
}

#graphContainer > img {
	width:100%;
	object-fit:cover;
}