@charset "UTF-8";

.container {
	margin: 0 auto;
	width:900px;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap:20px;
	padding: 30px;
	border: 1px solid gray;
	background-color: rgba(255,255,255,0.8);
	box-shadow: 2px 2px 2px gray;
}

#container_title {
	font-family: 'DOSGothic';
	font-size:40px;
	text-align: center;
	margin-bottom: 30px;
	font-weight: 600;
}

.listbox {
	display: flex;
	justify-content: center;
	align-items: center;
	padding:10px;
	gap:10px;
}

#list_title{
	font-family: 'DOSGothic';
	font-size: 20px;
	text-align: center;
	font-weight: 600;
}

hr {
	width:100%;
	color:gray;
	line-height: 4px;
	opacity: 0.7;
}

.category {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 5px;
    display: inline-block;
    cursor: pointer;
}

.addphoto {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;	
}

.pic_add {
	display:flex;
	justify-content: center;
	align-items: center;
}

#pic_pack {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap:5px;
}

.contents {
	gap:20px;
}

#review_contents {
	width:500px;
	height:300px;
	border: 1px solid gray;
	font-family: 'Pretendard-Regular';
	font-size:14px;
	padding:10px;
	resize: none;
}

.hashtag-dropdown {
    border-radius: 15px;
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 10px;
    background-color: white;
}

.hashtag {
    display: inline-block;
    margin: 5px;
    padding: 5px 10px;
    border-radius: 15px;
    background-color: #f0f0f0;
    cursor: pointer;
}

.hashtag.selected {
    background-color: #add8e6;
}

.visit-box {
    border: 2px solid #ccc;
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.visit-box.selected {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
}	

fieldset{
    display: inline-block;
    direction: rtl;
    border:0;
}
fieldset legend{
    text-align: right;
}
input[type=radio]{
    display: none;
}
label{
    font-size: 1.5em;
    color: transparent;
    text-shadow: 0 0 0 #9c9c9c;
}
label:hover,
	#star input[type=radio]:hover ~ label,
	#star input[type=radio]:checked ~ label{
    text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}


input[type=radio]:checked + label {
   text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}

#star label:hover ~ label,
#star input[type=radio]:checked + label ~ label {
    text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}

