@charset "UTF-8";

.container {
	margin: 0 auto;
	width:900px;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap:20px;
	padding: 50px;
	border: 1px solid gray;
	background-color: rgba(255,255,255,0.8);
	box-shadow: 2px 2px 2px gray;
}

#container_title {
	font-family: 'DOSGothic';
	font-size:40px;
	text-align: center;
	margin-bottom: 30px;
	font-weight: 600;
}

.listbox {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding:10px;
	gap:20px;
}

input[type=text],
input[type=date],
select {
	width:200px;
	height:30px;
	border: 1px solid gray;
	padding: 5px;
	font-family: 'Pretendard-Regular';
	font-size:14px;
}

#review_title {
	width:350px;
}

#list_title{
	width:150px;
	text-align:justify;
	font-family: 'DOSGothic';
	font-size: 20px;
	text-align: center;
	font-weight: 600;
}

hr {
	width:100%;
	color:gray;
	line-height: 4px;
	opacity: 0.7;
}

.addphoto {
	display: flex;
	flex-direction: column;
	align-items: flex-start;	
}

.pic_add {
	display:flex;
	justify-content: flex-start;
	align-items: center;
	gap:20px;
}

#photo_input {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap:20px;
}

.photofiles {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap:10px;
}

#pic_pack {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap:10px;
}

#existing_photos{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap:10px;
}

.contents {
	gap:20px;
}

#review_contents {
	width:500px;
	height:300px;
	border: 1px solid gray;
	font-family: 'Pretendard-Regular';
	font-size:14px;
	padding:10px;
	resize: none;
}

#hashtagFields{
	display: flex;
	flex-direction:column;
	justify-content: space-between;
	align-items: flex-start;
}

.hashtag-categories{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: flex-start;
	gap:15px;
}

.category {
	display:flex;
	align-items:center;
	justify-content:center;
	text-align:center;
	width:110px;
	height:40px;
	padding:10px;
	border: 1px solid gray;
	font-family: 'DOSGothic';
	font-size: 20px;
	text-align: center;
	font-weight: 600;
	background-color: #F1F1F1;
}

.category:hover {
	cursor: pointer;
	background-color: lightblue;
}

.hashtag-dropdown {
	display:flex;
	width:550px;
	flex-wrap:wrap;
	gap:10px;
    border-radius: 15px;
    border: 1px solid #ccc;
    padding: 10px;
    padding-right:10px;
    padding-left:10px;
    margin-top: 10px;
    background-color: white;
}

.hashtag {
    display: inline-block;
    margin: 5px;
    padding: 5px 10px;
    border-radius: 15px;
    font-family: 'DOSGothic';
	font-size: 16px;
	text-align: center;
    background-color: #f0f0f0;
    cursor: pointer;
}

.hashtag:hover {
	cursor: pointer;
	background-color: lightblue;
}

.hashtag.selected {
    background-color: #add8e6;
}

#selected-tags {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.selectedhashes > #list_contents {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.selected-tag {
    display: inline-block;
    margin: 5px;
    padding: 5px 10px;
    border-radius: 15px;
    background-color: #f0f0f0;
    font-family: 'DOSGothic';
	font-size: 16px;
    cursor: pointer;
}

#re_visit{
	display:flex;
	align-items: center;
	justify-content: flex-start;
	gap:20px;
}

.visit-box {
	display:flex;
	align-items:center;
	justify-content:center;
	text-align:center;
	width:110px;
	height:40px;
	padding:10px;
	border: 1px solid gray;
	font-family: 'DOSGothic';
	font-size: 20px;
	text-align: center;
	font-weight: 600;
	background-color: #F1F1F1;
    transition: background-color 0.2s, border 0.2s;
}

.visit-box:hover {
	cursor: pointer;
	background-color: lightblue;
}

.visit-box.selected {
    background-color: lightblue;
    border: 2px solid #007bff;
}	

fieldset{
    display: inline-block;
    direction: rtl;
    border:0;
}
fieldset legend{
    text-align: right;
}
input[type=radio]{
    display: none;
}
label{
    font-size: 1.5em;
    color: transparent;
    text-shadow: 0 0 0 #9c9c9c;
}
label:hover,
	#star input[type=radio]:hover ~ label,
	#star input[type=radio]:checked ~ label{
    text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}


input[type=radio]:checked + label {
   text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}

#star label:hover ~ label,
#star input[type=radio]:checked + label ~ label {
    text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}

.btns {
	width:100%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap:30px;
}

input[type=submit],
input[type=reset],
.goback {
	width:100px;
	height:40px;
}

input[type=submit],
input[type=reset],
.goback:hover {
	cursor: pointer;
}
