@charset "UTF-8";


@font-face {
    font-family: 'YEONGJU';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2403@1.0/YEONGJUSeonbiTTF.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Ownglyph_meetme-Rg';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_1@1.0/Ownglyph_meetme-Rg.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

li a {
	display: block;
}

a {
	text-decoration: none;
}

/* 데스크탑 사이즈 */	

body {
	margin:0;
	padding:0;
}

.review_container {
	body:1200px;
	display:flex;
	justify-content:center;
	align-items:center;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
section.notice {
	padding: 80px 0;
}

.page-title {
	margin-bottom: 60px;
}
.page-title h3 {
	font-family: 'Pretendard-Regular';
	font-size: 28px;
	color: #1c1c1c;
	font-weight: 400;
	text-align: center;
}

#board-search .search-window {
	padding: 15px;
}

#board-search .search-window .area_select {
	position: relative;
	padding: 10px;
	margin: 0 auto;
	width: 30%;
	float: left;
	font-size:16px;
}

.area_select select {
	width:100px;
	height:32px;
	font-size:14px;
	border-radius: 5px;
}

#board-search .search-window .search-wrap {
	position: relative;
	margin: 0 auto;
	width: 40%;
	float: right;
}

.search-wrap select {
	width:100px;
	height:32px;
	font-size:14px;
	border-radius: 5px;
}

#board-search .search-window .search-wrap input {
	height: 32px;
	width: 70%;
	font-size: 14px;
	padding: 7px 14px;
	border: 1px solid #1c1c1c;
}
#board-search .search-window .search-wrap input:focus {
  border-color: #1b70a6;
  outline: 0;
  border-width: 1px;
}
#board-search .search-window .search-wrap .btn {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 108px;
  padding: 0;
  font-size: 16px;
}

.board-table {
  font-size: 13px;
  width: 100%;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background-color: rgba(247,247,247,0.9);
}

.board-table a {
	color: #1c1c1c;
	display: inline-block;
	line-height: 1.4;
	word-break: break-all;
	vertical-align: middle;
}

.board-table th {
	text-align: center;
	color: #1c1c1c;
	background-color: #B3B3B3;
}

tr:not(:last-child):hover {
	background-color: rgba(205,228,242,0.8);
}

.text_title {
	text-align: left;
	display: inline-block;
	line-height: 1.4;
	word-break: break-all;
	vertical-align: middle;
	font-family: 'Pretendard-Regular';
	font-weight: 600;
}

.notice_line {
	background-color: rgba(216,216,216,0.9);
}

.th-num {
  width: 100px;
  text-align: center;
}

.th-writer {
  width: 200px;
}

.th-date {
  width: 100px;
}

.board-table th, .board-table td {
  padding: 14px 0;
}

.board-table tbody td {
  border-bottom: 1px solid #e7e7e7;
  text-align: center;
}

.board-table tbody th {
  padding-left: 28px;
  padding-right: 14px;
  text-align: left;
}

.board-table tbody th p{
  display: none;
}

.btn {
  display: inline-block;
  padding: 0 30px;
  font-size: 15px;
  font-weight: 400;
  background: transparent;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  text-transform: uppercase;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.btn-dark {
  background: #555;
  color: #fff;
}

.btn-dark:hover, .btn-dark:focus {
  background: #373737;
  border-color: #373737;
  color: #fff;
}

.btn-dark {
  background: #555;
  color: #fff;
}

.btn-dark:hover, .btn-dark:focus {
  background: #373737;
  border-color: #373737;
  color: #fff;
}

/* reset */

* {
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.clearfix:after {
  content: '';
  display: block;
  clear: both;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
.blind {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  width: 1px;
  height: 1px;
}

.reply_check {
    font-size: 0.8em;
    color: red;
}
