@charset "UTF-8";

@font-face {
    font-family: 'YEONGJU';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2403@1.0/YEONGJUSeonbiTTF.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Ownglyph_meetme-Rg';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_1@1.0/Ownglyph_meetme-Rg.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}



li a {
	display: block;
}

a {
	text-decoration: none;
}


/*데스크탑 사이즈*/

.container {	
	width:1200px;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	position: relative;
}

.sea_main_left {
	display:flex;
	justify-content:center;
	align-items: center;
	margin:0 auto;
	width: 600px;
	height:90%;
	float:left;
	text-align: center;
}

.sea_main_maps {
	position:absolute;
	top:4em;
	width: 570px;
	height:750px;
	margin: 0 auto;
	z-index: 1;
	border: 1px solid gray;
	border-radius: 10px;
	padding:10px;
	background-color: white;
	box-shadow: 2px 2px 2px gray;
	margin-right: 10px;
}

#map_text {
	display:flex;
	justify-content:center;
	align-items:center;
	font-family: 'Ownglyph_meetme-Rg';
	font-size:1.8em;
	color:#48b0d6;
	width:480px;
	height:1.8em;
	background-color:white;
	text-shadow: -1px 0px black, 0px 1px black, 1px 0px black, 0px -1px black;
	top:0.5em;
	margin-bottom:50px;
	position:absolute;
	text-align: center;
}

#select_map {
	margin-top:100px;
	width:90%;
	min-width:450px;
	left: 2em;
	position:absolute;
	z-index: 2;
	bottom:60px;
}

.map li {
	position: absolute;
	list-style: none;
	z-index: 2;
}

.map li a {
	color: black;
}

.kyungin {
	top: 170px;
	left: 130px;
}

.kangwon{
	top:140px;
	left:300px;
}

.kyungbuk{
	top:290px;
	left:320px;
}

.kyungnam{
	top:420px;
	left:250px;
}

.buul {
	top:410px;
	left:350px;
}

.jeonnam {
	top:450px;
	left:130px;
}

.jeonbuk {
	top: 360px;
	left: 150px;
}

.chungnam {
	top:270px;
	left:120px;
}

.jeju {
	top:630px;
	left:120px;
}

.sea_main_right {
	display:flex;
	justify-content: center;
    align-items: center;
	flex-direction:column;
	box-sizing: border-box;
	margin:0 auto;
	width: 45%;
	text-align : center;
}


.weather_infobox {
    width: 90%;
    top:1em;
    height: 820px;
    border: 1px solid gray;
    border-radius: 10px;
    box-shadow: 2px 2px 2px gray;
    background-color: white;
    padding: 30px;
    position: relative;
    z-index: 1;
}

#result_top {
	font-family: 'Ownglyph_meetme-Rg';
	font-size: 40px;
}

.badalist_container {
	width:500px;
	height:100px;
	display: flex;
	justify-content: center;
	align-items:center;
	padding: 50px;
}

.beach_list {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	text-decoration: none;
}

#beaches {
	width:300px;
	height:50px;
	border: 1px solid #1c1c1c;
	border-radius: 5px;
	box-shadow:2px 2px gray;
	background-color: #CDE4F2;
	font-family: 'Pretendard-Regular';
	padding: 10px;
	text-align:center;
	color: #1c1c1c;
	margin-bottom: 10px;
}

#beaches:hover {
	cursor: pointer;
}

#beaches a {
	text-decoration: none;
	color: inherit;
}

#no_beach {
	font-family: 'Pretendard-Regular';
	font-size: 1.5em;
	font-weight: 600;
	text-align: center;
}

#inquire_link {
	font-family: 'Pretendard-Regular';
	font-size: 1em;
	text-align: center;
}
