/* GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

/* VARIABLES CSS */
:root {
    --nav--width: 120px;
    --nav--expanded-width: 400px; /* Expanded width for the sidebar */
    --first-color: #48B0D9;
    --bg-color: #1B70A6;
    --sub-color: #CDE4F2;
    --white-color: #F1F1F1;
    --body-font: 'Pretendard-Regular';
    --normal-font-size: 1.3rem;
    --small-font-size: 1rem;
    --z-fixed: 100;
}

/* BASE */
*, ::before, ::after {
    box-sizing: border-box;
}

body {
    position: relative;
    margin: 0;
    padding: 2rem 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    transition: padding-left .5s;
}

h1 {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* l NAV */
.l-navbar {
    position: fixed;
    top: 0;
    left: -250px; /* Initial position partially off screen */
    width: var(--nav--expanded-width);
    height: 100vh;
    background: url('../image/sidebarimg-01.png') no-repeat left center/cover;
    transition: left .5s, width .5s, background-position .5s;
    z-index: var(--z-fixed);
    font-family: 'Jua';
}

/* Show the toggle button */
.nav__toggle {
    position: absolute;
    top: 1rem;
    left: 250px; /* Adjust to be at the edge of the screen */
    font-size: 2.5rem; /* Increase the size */
    padding: 1.5rem; /* Increase the padding */
    cursor: pointer;
    z-index: var(--z-fixed);
    transition: left .5s;
}

.l-navbar.expander .nav__toggle {
    left: var(--nav--expanded-width); /* Adjust the position when sidebar is expanded */
}

.l-navbar:hover {
    left: 0; /* Slide the sidebar in from the left */
}

.l-navbar:hover ~ .nav__toggle {
    left: var(--nav--expanded-width); /* Adjust the position of the toggle button when sidebar is expanded */
}

/* NAV */
.nav {
	margin-top:80px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    transition: opacity .5s;
}

.nav__brand {
    display: grid;
    grid-template-columns: max-content max-content;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    gap:30px;
}

.nav__logo {
    color: var(--white-color);
    font-weight: 600;
}

.nav__link {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: .75rem;
    padding: .75rem;
    color: var(--white-color);
    border-radius: .5rem;
    margin-bottom: 1.2rem;
    transition: .3s;
    cursor: pointer;
}

.l-navbar.expander .nav__link,
.l-navbar.expander .nav__brand {
    opacity: 1; /* Show the links and brand when expanded */
}

.nav__link:hover {
    background-color: var(--first-color);
}

.nav__icon {
    font-size: 2rem;
}

.nav_name {
    font-size:2rem;
}

/* COLLAPSE */
.collapse {
    grid-template-columns: 20px max-content 1fr;
}

.collapse__link {
    justify-self: flex-end;
    transition: .5s;
}

.collapse__menu {
    display: none;
    padding: .75rem 1.75rem;
}

.collapse__sublink {
    color: var(--sub-color);
    font-size: 1.5rem;
    margin-bottom:0.3rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.collapse__sublink:hover {
    color: var(--white-color);
}

/* Show collapse */
.showCollapse {
    display: block;
}

/* Rotate icon */
.rotate {
    transform: rotate(180deg);
    transition: .5s;
}

/* Opened and fixed state for sub-menu */
.fixed .showCollapse {
    display: block;
}


/* HOVER EFFECT */
.l-navbar:hover .nav__toggle {
    left: var(--nav--expanded-width);
}

.l-navbar.fixed {
    left: 0; /* Sidebar fixed in expanded position */
}

.l-navbar.fixed ~ .nav__toggle {
    left: var(--nav--expanded-width);
}

