@charset "UTF-8";

@font-face {
    font-family: 'YEONGJU';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2403@1.0/YEONGJUSeonbiTTF.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
	margin: 0;
	padding: 0;
}

body {
	width:1800px;
	background-color: #f5f1e5;
	font-family: Pretendard;
	margin:0 auto;
}

li a {
	display: block;
}

a {
	text-decoration: none;
}

.mainsearch {
	margin: 0 auto;
	margin-top:30px;
	margin-bottom:30px;
	align-items: center;
	text-align: center;
	font-size: 30px;
	font-family: 'YEONGJU';
}

#searchtext {
	font-size: 40px;
	font-family: 'YEONGJU';
	color: #FFCC57;
	text-shadow: -1px 0px white, 0px 1px white, 1px 0px white, 0px -1px white;
}

.searchbar {
  width: 300px;
  border: 3px solid #FFCC57;
  border-radius: 8px;
  padding: 10px 12px;
  font-family: Pretendard;
  font-size: 14px;
  
}


.mains {
	
	position: relative;
	width:100%;
	
}

.mainleft {
	
	margin:0 auto;
	width: 40%;
	height:700px;
	float:left;
	align-items: center;
	text-align : center;
	vertical-allign: middle;
	
}

.mainmaps {
	position:relative;
	left:50px;
	bottom:100px;
	margin: 0 auto;
	
}

.mainright {
	
	width: 60%;
	height:700px;
	float:right;
	background-color:blue;
	
}

.righttop{
	width:100%;
	height:400px;
	background-color:#f4d19d;
}

.rightbottom{
	width:100%;
	height:300px;
	background-color:#e8a65c;
}

.navbar {
	text-align: center;
	justify-content: center;
	padding-left:0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #f5f1e5;
	padding: 10px;
	margin:0 auto;
}

.navbar a {
	color: black;
}

.navbar__logo {
	margin-left:10px;
	font-size: 24px;
	color: black;
}

.navbar__menu {
	display: flex;
	list-style: none;
	justify-content: center;
	font-size: 20px;
}

.navbar__menu a {
	display: block;
	padding: 10px 15px;
	text-decoration: none;
	color: black;
}

.navbar__menu li {
	list-style: none;
}

.navbar__menud {
	position: relative;
}

.navbar__dropdown {
	margin: 0;
	padding-left:0px;
	display: block;
	position: absolute;
	z-index: 1;
	background-color: #ffe9ca;
	justify-content: center;
	align-items: center;
	border-radius: 4px;
	top: 2.5rem;
	right: 0rem;
	width: 10rem;
	border: 1px solid rgb(99, 96, 96);
	box-shadow: 0 40px 40px rgb(0 0 0 /6%);
	opacity: 0;
	visibility: hidden;
	font-size: 16px;
}

.navbar__dropdown li {
	display: block;
	position: relative;
	text-align:center;
}

.navbar__dropdown a {
	display: block;
	color: black;
	text-decoration: none;	
}

.navbar__menud:hover .navbar__dropdown {
	opacity: 1;
	visibility: visible;
}

.navbar__menu li:hover {
	background: #FFCC57;
	color: black;
	border-radius: 4px;
	list-style: none;
	padding-left:0px;
}

.navbar__menu li a:hover {
	color: black;
}

.navbar__icons {
	list-style: none;
	color: skyblue;
	display: flex;
	padding-left: 0px;
}

.navbar__icons li {
	padding: 8px;
}

.btn {
	
	box-sizing:border-box;
    background-color: #f5f5f5;
    border-color:#424242;
    border-width:1px;
    box-shadow:1px black;
    padding: 4px 8px;
    min-height: 8px; 
    min-width: 30px;
    font-size: 11px;
	
}

.btn:hover {
	 background-color: #bdbdbd;
}

.btn:focus {
	 background-color: #bdbdbd;
}

.btn :active{
	 background-color: #44c6da;
	 box-shadow:2px #44c6da;
}

table {
	background: #f5f5f5;
	height: auto;
	border-collapse: collapse;
	border: 2px solid black;
	margin: auto;
	margin-top: 50px;
	margin-bottom: 50px;
}


th, td {
	border-collapse: collapse;
	padding: 10px;
	border: 1px solid gray;
}

th {
	background-color:#cbcbcc;
}

table a {
	color: black;
}

table a:hover {
	color: #44c6da;
}

table tr:not(:first-child):not(:last-child):hover {
    background: #b9dfd2;
}

#thumbnail {
	transition: all 1s;
}

#thumbnail:hover{
	transform : scale(5);
	transition: all 1s;
}

